<!-- side bar -->
        <div class="column is-2">

          <div class="icon-menu">
            <img src="assets/img/menu-ham-icon.png">
          </div>

          <div class="menu">
            <div class="icon-close">
              <img src="assets/img/close-btn.png">
            </div>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="resume.html">Resume</a></li>
              <li><a href="portfolio.html">Portfolio</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="contact.html">Contact me</a></li>
            </ul>
          </div>

          


          <!-- <aside class="menu-side">
            <ul class="menu-list">
              <li><a href="index.html">Home</a></li>
                        <li><a href="resume.html">Resume</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
              <li><a href="faq.html">FAQ</a></li>
                        <li><a href="contact.html">Contact me</a></li>
            </ul>
          </aside> -->


          
        </div>
<!-- /side bar -->
