body{
	background: $body-bg;
	color: #4A4A4A;
	font-family: $main-font;
}
img {
	height: auto;
	max-width: 100%;
}
.main-wrap{
	padding: 30px 30px 30px 80px;
	position: relative;
	margin: 0 auto;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
	width: 100%;
	max-width: 100%;
	@media (max-width: 375px){
		padding: 10px 10px 10px 60px;;
	}
}
.main-column{
	position: relative;
	&.overlay{
		content: "";
		position: relative;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #1C1A1D;
		opacity: 0.5;
	}
}
.main-content{
	flex: 1;
	width: 100%;
	max-width: 100%;
	height: auto;
	position: relative;
	.main-content-item{
		display: block;
		position: relative;
		width: 33.3%;
		padding: 12px;
		float: left;
		@media(max-width:2000px){
			width:50%;
		}
		@media screen and (max-width: 767px){
			width:100%;
		}
	}
}

.box{
	border-radius: $border-radius;
	max-width: 100%;
	overflow: hidden;
}
