.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    overflow: auto;
    &.active{
        width: 200px;
    }
}
 .nav-logo{
  width: 100%;
  height: 100%;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav-burger{
    overflow: auto;
    color: #FFF;
    font-size:30px;
    cursor:pointer; 
    position: fixed;
    height: 100%;
    width: 50px;
    top: 0;
    left: 0;
    padding-top: 30px;
    padding-left: 10px;
    background: #3a3232;
    span {
        background: #fff;
          display: block;
          width: 30px;
          height: 3px;
          transition: all 0.3s;
          &:not(:last-child) {
            margin-bottom: 5px;
          }
    }
    &.active {
      transition: all 0.3s;
      span {
        background: #fff;
        margin-bottom: 0;
        &:last-child {
          display: none;
        }
        &:first-child {
          transform: rotate(45deg) translate(1px, 1px);
        }
        &:nth-child(2) {
          transform: rotate(-45deg) translate(1px, -1px);
        }
      }
    }
    
}