$main-font: 'Montserrat', sans-serif;
$border-radius: 5px;

$body-bg:#1c1a1d;
$main-color: #887F8C;

$color-white: #fff;
$color-black: #000;

$contact-btn: #FE4D00;
$field-bg: #F8F8F8;

$under: black;


$portfolio-rad: 10px;

$faq-border: #dbdbdb;
$faq-icons-bg: #FAFCFB;
